h1 {
    text-align: center;
    padding: 1em;
}
h2 {
    padding: 1.5em;
    text-align: center;
}
#flex {
    background-color: aqua;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    gap: 10px 20px;
    row-gap: 10px;
    column-gap: 20px;
}
body {
    background-color: aqua;
}
